* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.trans {
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143)); */
    font-family: sans-serif;
    color: white;
    background-image: url("day.jpg");
    /* background-repeat: no-repeat; */
}

.location,
.temperature {
    height: 15vh;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.float {
    display: flex;
    align-items: right;
}

.degree-section span {
    margin: 0px;
    font-size: 30px;
}

.degree-section h2 {
    font-size: 70px;
}

.temperature-description {
    padding-top: 10px;
    padding-right: 40px;
    text-align: center;
    font-size: 25px;
}

.location-timezone {
    top: 0;
    padding-left: 50px;
}

.temperature-degree {
    padding-right: 50px;
}

.pressure,
.wind,
.humidity {
    font-size: 0.75rem;
    font-weight: bold;
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width:500px) {
    .location-timezone {
        height: 25vh;
    }
}